:root{
    --main--color:rgb(204, 160, 16);
}
/* start setting box  */
.setting-box{
     position: fixed;
     left: -200px;
     top: 0;
     background-color:rgb(250,250,250,.5);
     width: 200px;
     transition: 0.5s;
     z-index: 1000;
     min-height: 100vh;
     -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
     -ms-transition: 0.5s;
     -o-transition: 0.5s;
}
.oben{
    left: 0;
}
.fa-gear{
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: white;
    padding: 8px 0px ;
    width: 30px;
    text-align: center;
    cursor: pointer;

}
.option-box{
    padding: 20px; 
}
.option-box h4{
    margin: 0;
    color: #666;
}
.option-box .colores{
    list-style: none;
    padding: 0;
    text-align: center;
}
.colores li{
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: .5;
    background-color: #eee;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.option-box h4{
    font-size: 14px;
}
.option-box span.active{
    opacity: 1;
}
.continar{
    
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
} 
.option-box .yes,
.option-box .no{
    cursor: pointer;
    width: 50px;
    background-color:#8BC34A;
    opacity: .5;
    color: white;
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 4px 10px;
    padding: 5px;
    text-align: center;
    border-radius:4px ;
    -webkit-border-radius:4px ;
    -moz-border-radius:4px ;
    -ms-border-radius:4px ;
    -o-border-radius:4px ;
}

.colores li .active{
    opacity: 1;
}
.colores li:first-child{
    background-color:rgb(204, 160, 16);
}
.colores li:nth-child(2){
    background-color: coral;
}
.colores li:nth-child(3){
    background-color: aqua;
}
.colores li:nth-child(4){
    background-color: crimson;
}
.colores li:nth-child(5){
    background-color: darkviolet;
}
.reset-box{
    background-color: #F44336;
    width: 178px;
    margin: 10px auto;
    cursor: pointer;
    border: none;
    display: block;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
/* end setting box  */
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
/* start landing bage */
.landing-area .continar{
    position: relative;
    z-index: 1000;
}
.landing-area{
    min-height: 100vh;
    background-image: url(./picture/download\ \(3\).jpg);
    background-size: cover;
    position: relative;

}
 .overlay{
    /* background-color:rgb(0,0,0,.6);
     */
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
 .header{
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    padding: 10px;
}
.logo{
    width: 300px;
    padding: 15px;
    font-weight: bold;
}
.header ul{
    list-style: none;
    padding: 0;
    text-align: right;
    padding-left:0 ;

}
.tuggel-menu.menu-active::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    bottom: 1px;
    right: 19px;
}
.tuggel-menu{
background:none;
border: none;

width: 55px;
cursor: pointer;
margin-top: 15px;
display: none;
}
.tuggel-menu span{

background-color: white;
display: block;
height: 4px;
margin-bottom: 3px;
}
@media ((max-width:992px)) {
    .header .linkes{
        display: none;
    }
    .header .linkes.open{
        background-color: #fff;
        padding: 10px;
        display: block;
        position: absolute;
        left: 0;
        top: 52px;
        border-radius: 4px;
        width: 100%;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        text-align: left;
}
    .header .linkes.open li {
        display: block;
        margin: 10px;
    }
    .header .linkes.open li a{
        color: var(--main--color);
        font-weight: bold;
        }
        .tuggel-menu{
            display: inline-block;
    }
}
.header ul li {
    display: inline-block;
    margin-left: 10px;

}   
.header ul li a{
    color: white;
    text-decoration: none;
    transition: .3;
    -webkit-transition: .3;
    -moz-transition: .3;
    -ms-transition: .3;
    -o-transition: .3;
}
.header ul li a:hover,
.header ul li a.active{
    color: var(--main--color);

}

.introduction-text{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 95%;
    z-index: 2;
    color:white;
    text-align: center;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}


.introduction-text h1{
    font-size: 34px;
    margin: 0 0 12;
}
@media ((max-width : 575px)) {
    .introduction-text h1{
        font-size: 26px;

    }}
.introduction-text h1 span{
    color: var(--main--color);
}
.introduction-text p{
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
}
/* end landing bage */
/* start about us  */
.about-us{
padding-top: 50px;
padding-bottom: 50px;
display: flex;
}
.about-us .info-box{
    flex: 1;
    padding: 30px;

}
.about-us .info-box h2{
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 10px;
    color: var(--main--color);
}
.about-us .info-box p{
    line-height: 1.8;
    color: #777;
    margin: 0;
}
.about-us .image-box{
    flex: 1;
    text-align: center;

}
.about-us .image-box img{
    width: 250px;

}
@media (max-width:767px) {
    .about-us{
        display: block;
        text-align: center;
    }
    .about-us .info-box{
        padding:0;
    }
}    
/* end  about us  */
/* start skilles */
.skills{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #8BC34A;
}
.skills h2{
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 50px;
    text-align: center;
    color: var(--main--color);
}
.skill-box{
    background-color: white;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
    line-height: 30px;
}
.skill-box .skill-name{
    font-weight: bold;
    text-align: center;
    width: 100px;

}
@media (max-width:767px) {
    .skill-box{
        display: block;
        text-align: center;
    }
    
}
.skill-box .skill-progretes .lk{
    position:absolute;
    top: 0;
    left: 0;
    width: 0;
    transition: all .5s;
    height: 100%;
    background-color:var(--main--color);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.skill-box .skill-progretes{
    position: relative;
    height: 30px;
    width: 100%;
    overflow: hidden;
    background-color: #ddd;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
@media (max-width:767px) {
    .skill-name{
        width: 100% ;
        margin-bottom: 15px;
        text-align: center;
    }
}
/* end skilles */
/* start gallary */
.gallare{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.gallare h2{
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 50px;
    text-align: center;
    color: var(--main--color);
}
.gallare .images-box{
    text-align: center;
} 
.gallare .images-box img{
    width: 200px;
    height: 200px;
    padding: 3px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
} 
.popup-overlay{
    position: fixed;
    background-color: rgb(0,0,0,.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup-box{
    position: fixed;
    width: 304px;
    height: 433px;
    left: 33%;
    top: 21%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1001;
    
}
.popup-box h3{
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    color: var(--main--color);
}
.popup-box .close-bottom{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main--color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #eee;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.popup-box img{
    max-width: 100%;
    width: 315px;
    height: 407px;
}
/* end gallary */
.timeline{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.timeline .timeline-contant{
    position: relative;
    overflow: hidden;
}
.timeline .timeline-contant::before{
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;

}
.timeline .timeline-contant .year{
    margin: 20px auto;
    width: 50px;
    background-color: var(--main--color);
    position: relative;
    z-index: 2;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 2px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.timeline .timeline-contant .left,
.timeline .timeline-contant .right{
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;

}
@media (max-width:575px) {
    .timeline .timeline-contant .left,
.timeline .timeline-contant .right{
    width: 100%;
    margin-bottom: 20px;
}
.timeline .timeline-contant .left::before,.timeline .timeline-contant .right::before{
    display: none;
}
.timeline .timeline-contant .left .content::before,
.timeline .timeline-contant .right .content::before{
    display: none;
}
}
.timeline .timeline-contant .left::before{
    content: "";
    width: 14px;
    height: 14px;
    border: 3px solid var(--main--color);
    background-color: white;
    position: absolute;
    right: -35px;
    border-radius: 50%;
    top: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.timeline .timeline-contant .right::before{
    content: "";
    width: 14px;
    height: 14px;
    border: 3px solid var(--main--color);
    background-color: white;
    position: absolute;
    left: -35px;
    border-radius: 50%;
    top: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.clearfix{
    clear: both;
}
.timeline .timeline-contant .left{
    float: left;
}
.timeline .timeline-contant .right{
    float: right;
}
.timeline .timeline-contant .content{
    padding: 20px;
    background-color: white;
}
.timeline .timeline-contant .content h3{
    font-weight: bold;
    color: var(--main--color);
    margin: 0 0 10px;
}
.timeline .timeline-contant .content p{
    margin: 0;
    line-height: 1.7;
    color: #666;
}
.timeline .timeline-contant .left .content::before{
    content: "";
    border: 10px;
    border-color: transparent transparent transparent white;
    border-style:solid ;
    right: -20px;
    position: absolute;
    top: 10px
}
.timeline .timeline-contant .right .content::before{
    content: "";
    border: 10px;
    border-color: transparent   white transparent transparent;
    border-style:solid ;
    left: -20px;
    position: absolute;
    top: 10px
}
.features{
    padding-top: 80px;
    padding-bottom: 80px;
}
.features h2{
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 60px;
    text-align: center;
    color: var(--main--color);
}
.features .feat-box{
    width: calc(100%  / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;

}
@media (max-width:991px) {
    .features .feat-box{
        width: calc(100% / 2);
    }
    
}
@media (max-width:575px) {
    .features .feat-box{
        width: calc(100%);
    }
    
}
.features .feat-box img{
    width: 96px;
}
.features .feat-box h4{
    font-size: 20px;
    margin: 15px 0 40px;
    position: relative;
}
.features .feat-box h4::before{
    width: 40px;
    content: "";
    height: 4px;
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -22px;
}
.features .feat-box p{
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
    color: #706f6f;
}
/* start testimonials */
.testimonials{

    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}
.testimonials::before{
    content: "";
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main--color);
    height: 100%;
}
.testimonials::after{
    content: "";
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;
    height: 100%;
}
.testimonials h2{
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 60px;
    text-align: left;
    color:white;
}
@media (max-width:767px) {
    .testimonials h2{
        text-align: center;
    }
}
.testimonials .ts-box{
    z-index: 2;
    position: relative;
    width: calc(68% / 3);
    float: left;
    background-color: white;
    padding: 20px;
    
    
}
@media (max-width:767px) {
    .testimonials .ts-box{
        width: 100%;
        float: none;
        margin-bottom: 10px;}
}
.testimonials .ts-box:not(:last-of-type){
    margin-right: 1%;
}
.testimonials .ts-box > p{
    margin: 0 0 20px;
    line-height: 1.5;
    font-size: 18px;
    color: #707070;
    font-style: italic;

}
.testimonials .ts-box .person{
    overflow: hidden;
}
@media (max-width:991px) {
    .testimonials .ts-box .person{
        text-align: center;
        overflow: visible;
    }
    
}
.testimonials .ts-box .person p{
    margin: 0;
    color: #777;

}
.testimonials .ts-box .person img{
    border-radius: 50%;
    float: left;
    margin-right: 20px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@media (max-width:991px) {
    .testimonials .ts-box .person img{
        float: none;
        margin-right: 0;

    }  
    
}
.testimonials .ts-box .person h4{
    margin: 14px 0 5px;
}
/* end testimonials */
/* start nav-pullets */
.nav-pullets{
    position: fixed;
    right: 0;
    transform: translateY(50%);
    width: 40px;
    top: 50%;
    z-index: 1000;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}
.nav-pullets .pullet{
    border: 3px solid var(--main--color);
    width: 20px;
    height: 20px;
    margin: 20px auto;
    border-radius: 50%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
}
.nav-pullets .pullet .tooltip{
    background-color: var(--main--color);
    width: 100px;
    color: white;
    padding: 8px 10px;
    position: absolute;
    right: 32px;
    top: -10px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
}
.pullet:hover .tooltip{
    display: block;
}
/* end nav-pullets */
/* start contact */
.contact{
min-height: 600px;
background-image: url(./picture/map.jpg);
background-size: cover;
padding-top: 80px;
padding-bottom: 80px;
position: relative;

}
.contact .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255,.6);
}
.contact .continar{
    position:relative;
    z-index: 2;
}
.contact h2{
    font-weight:bold ;
    font-size: 30px;
    color: var(--main--color);
    text-align: center;
    margin: 0 0 60px;
}
.contact form{
    overflow: hidden;
    max-width: 800px;
    margin: auto;

}
.contact form .left{
    float: left;
    width: 47%;
}
.contact form .right{
    float: right;
    width: 47%;
}
@media (max-width:767px) {
    .contact form .right,
    .contact form .left{
        float: none;
        width: 100%;
    }
}
.contact form input:not([type="submit"]),
.contact form textarea{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(218, 218, 218 ,.19);
    margin-bottom: 15px;
    border: 1px solid #ccc;
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus{
    outline: 1px solid var(--main--color);
}
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder,
.contact form textarea:focus::-webkit-input-placeholder{
    opacity: 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.contact form input{
    height: 40px;

}
.contact form textarea{
    height: 150px;
    width: 350px;
}
.contact form input[type="submit"]{
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main--color);
    color: white;
    cursor: pointer;
}
 /* start grid system  */
@media ((min-width:576px)) {
    .continar{
        max-width: 540px;
    }
    
}

@media ((min-width:768px)) {
    .continar{
        max-width:720px;
    }
}
@media ((min-width:1180)) {
    .continar{
        max-width:1100px;
    }
}
@media ((min-width:1200px)) {
    .continar{
        max-width:1140px;
    }
}
@media ((min-width:992px)) {
    .continar{
        max-width:960px;
    }
}
.linkes-container{
    width: 100%;
    text-align: right;
}

 /* end grid system  */
/* start footer */
.footer{
    background-color: #333;
    color: #eee;
    padding: 20px;
    text-align: center;
}
/* end footer */